.primaryButton {
  outline: none;
  color: $white;
  border: 1px solid $theme-color;
  background-color: $theme-color;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover {
    outline: none;
    color: $white;
    background-color: $theme-color;
    border: 1px solid $theme-color;
  }

  &.striped {
    background-color: $white ;
    border-color: $theme-color ;
    color: $theme-color ;

    &:hover {
      color: $white;
      background-color: $theme-color ;
      border-color: $theme-color;
    }
  }
}

.theme-button-1 {
  outline: none;
  background-color: $white;
  color: $theme-color;
  border: 1px solid $theme-color;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover {
    outline: none;
    background-color: $theme-color;
    color: $white;
    border: 1px solid $theme-color;
  }
}

.theme-button-3 {
  outline: none;
  color: $fig-11;
  border: 1px solid $fig-11;
  background-color: $white;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover {
    outline: none;
    color: $white;
    background-color: $fig-11;
    border: 1px solid $fig-11;
  }
}

.danger-button {
  outline: none;
  color: $white;
  border: 1px solid $fig-12;
  background-color: $fig-12;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover {
    outline: none;
    color: $white;
    background-color: $fig-12;
    border: 1px solid $fig-12;
  }

  &.striped {
    background-color: $white ;
    border-color: $fig-12 ;
    color: $fig-12 ;

    &:hover {
      color: $white;
      background-color: $fig-12 ;
      border: 1px solid $fig-12;
    }
  }
}