@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-field {
  border-color: green;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 0.9em;
}

.email-error-message {
  color: #ff5733;
  font-style: italic;
  font-size: 0.9em;
}

.text-danger {
  position: relative;
  color: red;
  font-size: 0.875rem;
}

.btn-orange {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
}

.btn-orange:hover {
  background-color: #e64a19;
}

